@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_FactoryLayout.cshtml";
}
<div class="row d-flex align-items-center justify-content-center m-5">
    <div class="main-body">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center" id="xy">
                                            <img src="/image/serveimage/?id=@Model.UserId" alt="agency_photo" class="rounded-circle" width="150" id="photo">
                                            <label for="file" id="uploadBtn" data-bs-toggle="modal" data-bs-target="#Agancy_Photo">Choose Photo</label>
                                            <div class="mt-3">
                                                <h4>@Model.Email</h4>
                                                <a id="Add" data-bs-toggle="modal" data-bs-target="#Email"><i class="fas fa-edit" style="color:orange;"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            @Model.FirstName
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <a id="Add" data-bs-toggle="modal" data-bs-target="#FirstName"><i class="fas fa-edit" style="color:orange;"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            @Model.LastName
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <a id="Add" data-bs-toggle="modal" data-bs-target="#LastName"><i class="fas fa-edit" style="color:orange;"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone Number</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            @Model.PhoneNumber
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <a id="Add" data-bs-toggle="modal" data-bs-target="#Phone"><i class="fas fa-edit" style="color:orange;"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                            <a id="Add" data-bs-toggle="modal" data-bs-target="#pass"><i class="fas fa-edit" style="color:orange;"></i></a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">User Role</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            @Model.UserRole
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Edit Agency Photo-->
<div class="modal" id="Agancy_Photo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="editPhotoForm">
                    <h5 class="modal-title">Change Agency Photo</h5>
                    <div id="editphotoerror"></div>
                    <div class="mb-3 p-3">
                        <input class="form-control" type="file" accept="image/*" id="formFile" required name="newAgencyPhoto">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editPhotoBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--edit Email-->
<div class="modal" id="Email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-3 p-3">
                    <form id="editEmailForm">
                        <div id="editemailerror"></div>
                        <div class="form-group p-2">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="you@gmail.com" name="newEmail" required>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary mb-2 p-2" id="editEmailBtn">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Edit FirstName-->
<div class="modal" id="FirstName">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="firstNameForm">
                    <h5 class="modal-title">
                        Change first name
                    </h5>
                    <div id="editfirstnameerror"></div>
                    <input type="text" class="form-control" placeholder="FirstName" required maxlength="10" name="newFirstName" id="editFirstNameInput">
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editFirstNameBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Edit LastName-->
<div class="modal" id="LastName">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="lastNameForm">
                    <h5 class="modal-title">
                        Change last name
                    </h5>
                    <div id="editlastnameerror"></div>
                    <input type="text" class="form-control" id="firstName" placeholder="Last name" required maxlength="10" name="newLastName">
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editLastNameBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Edit Phone number
-->
<div class="modal" id="Phone">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="phoneNumberForm">
                    <h5 class="modal-title">
                        Change phone number
                    </h5>
                    <div id="editphonenumbererror">
                    </div>
                    <div class="mb-3 p-3">
                        <input type="text" class="form-control" placeholder="+xx xxxxxxxxxx" maxlength="14" required name="newPhoneNumber">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editPhoneNumberBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Edit Password-->
<div class="modal" id="pass">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="editPasswordForm" >
                    <h5 class="modal-title">
                        Change Password
                    </h5>
                    <div id="editpassworderror"></div>
                    <div class="mb-3 p-3">
                        <input type="password" class="form-control" placeholder="Password" maxlength="20" required name="newPassword">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="editPasswordBtn" >Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>