
@{
    ViewBag.Title = "Postsrequest";
    Layout = "~/Views/Share/_DashboardLayout.cshtml";
}
@foreach (var pendingPost in ViewBag.PendingPosts)
{
    <div class="row d-flex align-items-center justify-content-center m-5">
        <div class="main-body">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <span>Pending</span>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center" id="xy">
                                                <img src="/image/serveimage/?id=@pendingPost.agency.user_id" alt="Admin" class="rounded-circle" width="150" id="photo">
                                                <div class="mt-3">
                                                    @{ 
                                                        var agencyName = pendingPost.agency.first_name + " " + pendingPost.agency.last_name;
                                                    }
                                                    <h4>@agencyName</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <img src="/image/servepostimage/?id=@pendingPost.post_id" class="img-thumbnail" id="photo">
                                            </div>
                                        </div>
                                        <div class="mt-3 d-flex flex-column align-items-center text-center p-2">
                                            <h4>@pendingPost.title</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tripdetails</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @pendingPost.details

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Trip Date</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                @pendingPost.trip_date
                            </div>
                            <div class="col-sm-3 text-secondary">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Trip Destination</h6>
                            </div>

                            <div class="col-sm-6 text-secondary">
                                @pendingPost.destination
                            </div>
                            <div class="col-sm-3 text-secondary">
                            </div>
                            <div class="container mt-5">
                                <div class="row-cols-2">
                                    <form action="/admin/acceptpost/?id=@pendingPost.post_id" method="post">
                                        <button id="Accept" type="submit" class="btn btn-primary">Accept</button>
                                    </form>
                                    <form action="/admin/denypost/?id=@pendingPost.post_id" method="post">
                                        <button id="Refuse" type="submit" class="btn btn-primary">Deny</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}




