@{
    ViewBag.Title = "Postspage";
    Layout = "~/Views/Share/_DashboardLayout.cshtml";
}
@foreach (var acceptedPost in ViewBag.AcceptedPosts)
{
    <div class="row d-flex align-items-center justify-content-center m-5">
        <div class="main-body">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center" id="xy">
                                                <img src="/image/serveimage/?id=@acceptedPost.agency.user_id" alt="Admin" class="rounded-circle" width="150" id="photo">
                                                <div class="mt-3">
                                                    @{ 
                                                        var agencyName = acceptedPost.agency.first_name + " " + acceptedPost.agency.last_name;
                                                    }
                                                    <h4>@agencyName</h4>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <img src="/image/servepostimage/?id=@acceptedPost.post_id" class="img-thumbnail" id="photo">
                                                <a id="Add" data-bs-toggle="modal" data-bs-target="#Trip_Photo"><i class="fas fa-edit" style="color:orange;">&#xE254;</i></a>
                                            </div>
                                        </div>
                                        <div class="mt-3 d-flex flex-column align-items-center text-center p-2">
                                            <h4>@acceptedPost.title </h4>
                                            <a id="Add" data-bs-toggle="modal" data-bs-target="#Trip_Title"><i class="fas fa-edit" style="color:orange;">&#xE254;</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tripdetails</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @acceptedPost.details
                                <a id="Add" data-bs-toggle="modal" data-bs-target="#Tripdetails"><i class="fas fa-edit" style="color:orange;"></i></a>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Trip Date</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                @acceptedPost.trip_date
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <a id="Add" data-bs-toggle="modal" data-bs-target="#TripDate"><i class="fas fa-edit" style="color:orange;"></i></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Trip Destination</h6>
                            </div>

                            <div class="col-sm-6 text-secondary">
                                @acceptedPost.destination
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <a id="Add" data-bs-toggle="modal" data-bs-target="#TripDestination"><i class="fas fa-edit" style="color:orange;"></i></a>
                            </div>
                            <div class="container mt-5">
                                <form action="/agency/deletepost/?id=@acceptedPost.post_id" method="post">
                                    <button id="delete" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Trip Title-->
    <div class="modal" id="Trip_Title">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editTitleForm" action="/agency/editposttitle/?id=@acceptedPost.post_id" method="post">
                        <h5 class="modal-title">Change Trip Title</h5>
                        <div class="mb-3 p-3">
                            <input type="text" class="form-control" maxlength="50" placeholder="Title" required name="newTitle">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Trip Photo-->
    <div class="modal" id="Trip_Photo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editTripPhotoForm" action="/agency/editpostphoto/?id=@acceptedPost.post_id" method="post" enctype="multipart/form-data">
                        <h5 class="modal-title">Change Trip Photo</h5>
                        <div class="mb-3 p-3">
                            <input class="form-control" type="file" id="formFile" required name="newPostPhoto">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Edit Tripdetails-->
    <div class="modal" id="Tripdetails">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editDetailsForm" action="/agency/editpostdetails/?id=@acceptedPost.post_id" method="post">
                        <h5 class="modal-title">Change Trip details</h5>
                        <div class="mb-3 p-3">
                            <textarea class="form-control" aria-label="With textarea" placeholder="Enter details" required name="newPostDetails"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Trip Date-->
    <div class="modal" id="TripDate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editTripDateForm" action="/agency/editpostdate/?id=@acceptedPost.post_id" method="post">
                        <h5 class="modal-title">
                            Change Trip Date
                        </h5>
                        <div class="mb-3 p-3">
                            <input type="datetime" class="form-control" name="newPostDate" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Edit TripDestination
    -->
    <div class="modal" id="TripDestination">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editDestinationForm" action="/agency/editpostdestination/?id=@acceptedPost.post_id" method="post">
                        <h5 class="modal-title">
                            Change Trip Destination
                        </h5>
                        <div class="mb-3 p-3">
                            <input type="text" name="newPostDestination" id="quantity" class="form-control" placeholder="Enter destination" required />&nbsp;
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!--Edit Price
    -->
    <div class="modal" id="Tripprice">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="editPriceForm" action="/agency/editpostprice/?id=@acceptedPost.post_id" method="post">
                        <h5 class="modal-title">
                            Change Trip Price
                        </h5>
                        <div class="mb-3 p-3">
                            <input type="number" id="quantity" class="form-control" placeholder="1000 $" required name="newPostPrice" />&nbsp;
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery.validate.js"></script>

<script> 
    $("#editTitleForm").validate();
    $("#editTripPhotoForm").validate();
    $("#editDetailsForm").validate();
    $("#editTripDateForm").validate();
    $("#editDestinationForm").validate();
    $("#editPriceForm").validate();
</script>









